<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title> 
    <link rel="stylesheet" href="/public/css/randomMovie/randomMovie.css" defer/>
  </head>
  <body>
    <div id="app">
      <div id="drawer">
      <div id="card" style="transform-style: preserve-3d; transform: rotateY(0deg); transition: all 1s ease 0s; background-image: url('<RDN-Poster>'); background-size: cover;">
        <div id="front" style="backface-visibility: visible;"></div>
        <div>
          <div>
            <div>
              <span><RDN-Title></span>
            </div>
            <div>
              <span> 개봉 일자: <RDN-repRlsDate> </span>
            </div>
          <div>
            <span> 국가 : <RDN-Nation> </span>
          </div>
          <div>
            <span> 상영 시간 : <RDN-Runtime>분 </span>
          </div>
          <div>
            <span> 상영 등급: <RDN-Rating> </span>
          </div>
          <div>
            <span> 장르 : <RDN-Genre> </span>
          </div>
          <div>
            <span> 감독 : <RDN-Director> </span>
          </div>
          <div>
            <span> 주연 배우 : <RDN-Actor> </span>
          </div>
          <div>
            <span> 시놉시스 : <RDN-Polots> </span>
          </div>          
        </div>
       </div>
      </div>
     </div>      
      <button id="btnAnotherRan" data-genreCode="<RDN-GenCode>">다른영화 추천 받기</button>
    </div>
    <script>
      const drawer = document.getElementById('drawer');
      const card = document.getElementById('card');
      const front =document.getElementById('front');
      const btnAnotherRan = document.getElementById('btnAnotherRan');
      //console.dir(btnAnotherRan);

      let isClick = true;

      drawer.addEventListener('click', ()=>{
        if(isClick===true){
          isClick = false;
          //console.log(isClick);
      
          card.style.transformStyle = "preserve-3d";
          card.style.transform = "rotateY(180deg)";
          card.style.transition = "1s";
        } else {
          isClick = true;
          //console.log(isClick);
      
          card.style.transformStyle = "preserve-3d";
          card.style.transform = "rotateY(0deg)";
          card.style.transition = "1s";
          front.style.backfaceVisibility = "visible";
        }
      });
      btnAnotherRan.addEventListener('click', function (event) {        
        //console.dir(this);
        //console.log(this.dataset.genrecode)
        const code = this.dataset.genrecode;
        //console.dir(arguments);
        //console.dir(new.target);
        //console.dir(event);
        location.href = `/anotherRand?index=${code}`;
      });
    </script>
  </body>
</html>